// these are all of the colours we will be using

// PRIMARY COLOURS
// in-stock black
$global-text-colour: #13182C;
// instock-indigo
$button-colour: #2E66E5;
// white
$light-text-colour: #FFFFFF;

// SECONDARY COLOURS
// slate
$header-colour: #5C667E;
// cloud
$accent-colour: #BDC5D5;

// BACKGROUND COLOURS
// graphite
$dark-background-colour: #232940;
// light grey
$light-background-colour: #F7F8F9;

// SUPPORTING COLOURS
// green
$instock-colour: #158463;
// red
$no-stock-colour: #C94515;
