@use '../../assets/styles/partials/colours' as *;
@use '../../assets/styles/partials/fonts' as *;
@use '../../assets/styles/partials/mixins' as *;

.warehouseListItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px $accent-colour solid;
    padding: 1rem;

    @include tablet {
        padding: 1rem 2rem;
        justify-content: flex-start;
        border-top: none;
        border-bottom: 1px $accent-colour solid;
    }

    &__container {
        width: 50%;

        @include tablet {
            display: flex;
        }

        &--first {
            @include tablet{
                width: 41%;
            }

            @include desktop {
                width: 51%;
            }
        }

        &--second {
            @include tablet {
                width: 49%;
            }

            @include desktop {
                width: 43%;
            }
        }
    }

    &__info {
        margin-bottom: 1rem;

        @include tablet {
            margin: 0;
        }

        &--first {
            @include tablet {
                width: 58.5%;
            }
            @include desktop {
                width: 49%;
            }

        }

        &--second {
            @include tablet {
                width: 41.5%;
            }
            @include desktop {
                width: 51%;
            }
        }

        &--third {
            @include tablet {
                width: 39%;
            }
            @include desktop {
                width: 44%;
            }
        }

        &--fourth {
            @include tablet {
                width: 61%;
            }
            @include desktop {
                width: 56%;
            }
        }
    }

    &__title {
        color: $header-colour;
        margin-bottom: .25rem;

        @include tablet {
            display: none;
        }
    }

    &__nameWrapper {
        display: flex;
        justify-content: flex-start;
    }

    &__name {
        color: $button-colour;
        padding-top: 0.2rem;

        @include tablet {}
    }

    &__detail {
        font-size: .8125rem;
        color: $global-text-colour;

        @include tablet {}
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            width: 10%;
            justify-content: flex-end;
        }

        @include desktop {
            width: 6%;
        }
    }

    &__icon {
        width: 1.5rem;

        @include tablet {
            margin-left: 1rem;
        }
    }
}