@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;

.delete {
  &__container {
    padding: 1rem 1rem 2rem 1rem;

    @include tablet {
      padding: 2rem 8rem 2rem 3rem;
    }
  }

  &__icon-wrapper {
    text-align: right;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text-wrapper {
    padding-bottom: 4rem;
    @include tablet {
      padding-bottom: 0;
      margin-right: 4rem;
    }
  }

  &__button-wrapper {
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;

    @include tablet {
      margin-top: 2rem;
      justify-content: flex-end;
      gap: 1rem;
      margin-right: 4rem;
    }
  }

  &__button {
    padding: 0.5rem 3rem;
    border-radius: 25px;

    @include tablet {
      padding: 0.5rem 1rem;
    }
  }

  &__button-cancel {
    background-color: #fff;
    border: 1px solid #bdc5d5;
  }

  &__button-delete {
    background-color: #c94515;
    color: #fff;
    border: none;
  }
}
